<nav mat-tab-nav-bar class="header-nav">
    <div class="nav-links">
        <a mat-tab-link href="#about" class="header-link">About</a>
        <a mat-tab-link href="#skills" class="header-link">Skills</a>
        <a mat-tab-link href="#experience" class="header-link">Experience</a>
        <a mat-tab-link href="#education" class="header-link">Education</a>
        <a mat-tab-link href="#certifications" class="header-link">Certifications</a>
        <a mat-tab-link href="#projects" class="header-link">Projects</a>
        <a mat-tab-link href="#contact" class="header-link">Contact</a>
    </div>
    <a class="navbar-greeting">
        {{ greeting }}
    </a>
</nav>
