<footer class="footer">
    <h2>Contact</h2>
    <div class="footer-content">
      <!-- Left Side: Contact Info -->
      <div class="contact-info">
        <p><i class="fas fa-phone"></i> <a href="tel:+19409773657">+1 (940) 977-3657</a></p>
        <p><i class="fas fa-envelope"></i> <a href="mailto:phaneendraprasadpalanki@gmail.com">Gmail</a></p>
        <p><i class="fab fa-linkedin"></i> 
          <a href="https://www.linkedin.com/in/phaneeendra" target="_blank">LinkedIn</a>
        </p>
      </div>
  
      <!-- Right Side: Copyright -->
      <div class="copyright">
        <p>&copy; 2025 Phaneendra Prasad Palanki. All rights reserved.</p>
      </div>
    </div>
  </footer>
  