<!-- <div class="about-contianer">
    <h1>About Me</h1>
    <p>
        Highly motivated and results-driven professional with over 3 years of experience in developing and maintaining complex 
        enterprise applications using Java, Spring Boot, and RESTful APIs. Proven expertise in relational databases, 
        ORM frameworks, and Agile methodologies. Adept at working on large-scale projects in high-impact environments, 
        with a strong focus on delivering high-quality, scalable and efficient solutions.
    </p>
</div> -->
<div class="about-container" [class.visible]="isVisible">
    <div class="about-content">
      <p>
        Highly motivated and results-driven professional with over 3 years of experience in developing and maintaining complex 
        enterprise applications using Java, Spring Boot, and RESTful APIs. Proven expertise in relational databases, 
        ORM frameworks, and Agile methodologies. Adept at working on large-scale projects in high-impact environments, 
        with a strong focus on delivering high-quality, scalable and efficient solutions.
      </p>
    </div>
    <div class="about-divider"></div>
    <div class="about-heading"> 
      <h2>About Me</h2>
    </div>
  </div>
  