<h2>Certifications</h2>
<div class="certifications-container">
    <div class="certification">
      <img src="assets/professional.png" alt="Certification 1 Badge" class="badge" />
      <a href="https://www.credly.com/badges/47cfbf46-cf20-4aa0-b8ef-40a65a17f3ca/public_url" target="_blank" class="view-certificate">
        View Certificate
      </a>
    </div>
    <div class="certification">
      <img src="assets/associate.png" alt="Certification 2 Badge" class="badge" />
      <a href="https://www.youracclaim.com/badges/68d6bbe3-0279-4cb0-b66f-f1fd391f4caa?source=linked_in_profile" target="_blank" class="view-certificate">
        View Certificate
      </a>
    </div>
    <div class="certification">
      <img src="assets/pxa.png" alt="Certification 3 Badge" class="badge" />
      <a href="https://pxa.impact.com/student/award/fGKhKMHLm37s3V97MrmRcQmo" target="_blank" class="view-certificate">
        View Certificate
      </a>
    </div>
  </div>
  