<div class="profile-container">
    <!-- Profile Image -->
    <div class="profile-image">
      <img src="assets/photo.jpg" alt="Your Photo" class="image" />
    </div>
    
    <!-- Intro Text -->
    <div class="profile-intro">
        <div class="intro-title"> Hi, this is <span class="name">Phaneendra Prasad Palanki</span> </div>
        <div class="intro-text">
            A Full Stack Developer turning caffeine into <br>
            <span class="lang1">J</span>ava, <span class="lang2">S</span>pring Boot magic & <span class="lang3">A</span>ngular Wizardry!
        </div>
      <!-- Resume Button -->
        <div>
            <a href="assets/Phaneendra Prasad Palanki Resume.pdf" download="Phaneendra Palanki Resume.pdf">
            <button class="download-btn">Download Resume</button>
            </a>
        </div>
</div>
    
